<nav>
  <div class="nav-wrapper">
    <a href="#" data-target="mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <a href="#" class="brand-logo">absApp</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a (click)="navPosts()">Posts</a></li>
      <li><a (click)="navAlbums()">Albums</a></li>
      <li><a (click)="navUsers()">Users</a></li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile">
  <li><a (click)="navPosts()">Posts</a></li>
      <li><a (click)="navAlbums()">Albums</a></li>
      <li><a (click)="navUsers()">Users</a></li>
</ul>
